{% extends "base.html" %}

{% block content %}
<main>
    <div>
        <h1>Create a new task</h1>
        {% csrf_token %}
        {{ form.as_p }}

        <form method="post">

            <input type="text" name="name"/>

            <input type="text" name="start_date"/>

            <input type="text" name="due_date"/>

            <select name="projects"></select>

            <select name="assignee"></select>
            <button type="submit">Create</button>
        </form>
    </div>
</main>
{% endblock content %}
