{% extends "base.html" %}
{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            <table>
                <tr>
                    <th>Name:</th>
                    <th>Start Date:</th>
                    <th>End Date:</th>
                    <th>Is Completed:</th>
                </tr>
                <tbody>
                    <tr>
                        {% if task_list|length > 0 %}
                            {% for t in task_list %}
                                <td>{{ t.name }}</td>
                                <td>{{ t.start_date }}</td>
                                <td>{{ t.due_date }}</td>
                                {% if t.is_completed == True %}
                                    <td>Done</td>
                                {% elif t.is_completed == False %}
                                    <td>
                                        <form method="post" action="{% url 'show_my_tasks' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="is_completed" value="True"/>
                                            <button>Complete</button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    {% endif %}
                {% endfor %}
            {% elif task_list|length == 0 %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
