{% extends "base.html" %}
{% block content %}
    <main>
        {% if user.is_authenticated %}
            <div>
                <h1>My Projects</h1>
                <a href="{% url 'create_project' %}">Create a new project</a>
                {% for p in project_list %}
                    {% if p|length == 0 %}
                        <p>You are not assigned to any projects</p>
                    {% else %}
                        <div>
                            <table class="table">
                                <tr>
                                    <th>Name</th>
                                    <th>Number of tasks</th>
                                </tr>
                                <tr>
                                    <td>{{ p.name }}</td>
                                    <td>{{ task_list|length }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </table>
                </div>
            </div>
        {% endif %}
    </main>
{% endblock content %}
